
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link href="../styles/style.css" rel="stylesheet">
    <title>Document</title>
  </head>
  <body></body>
  <script>
  var is_test = true;
  </script>
  
  <script src="../js/common.js"></script>
  <script src="../js/testdata.js"></script>
  <script src="../js/buff.js"></script>
  <script src="../js/buki.js"></script>
  <script src="../js/bougu.js"></script>
  <script src="../js/calculator.js"></script>
  <script src="../js/part.js"></script>
  <script src="../js/equip.js"></script>
  <script src="../js/ui.js"></script>
</html>